*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $font-color;
  font-family: $font-family;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 600;
}
