.headline {
  &__primary {
    margin-bottom: 1rem;
    color: $color-primary;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: center;

    @include atSM {
      font-size: 3.2rem;
    }

    @include atMD {
      margin-bottom: 2rem;
      font-size: 3.6rem;
    }

    @include atLG {
      font-size: 4rem;
    }
  }

  &__secondary {
    max-width: 60rem;
    margin: 1rem auto 2.5rem auto;
    color: $color-secondary;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.25;

    @include atSM {
      font-size: 2.6rem;
    }

    @include atMD {
      font-size: 3.2rem;
    }

    @include atLG {
      font-size: 3.6rem;
    }
  }

  &__tertiary {
    margin: 15px auto;
    color: $color-primary;
    font-size: 2.8rem;
    font-weight: 300;
    text-align: center;

    @include atSM {
      font-size: 3.2rem;
    }

    @include atMD {
      margin: -1.5rem auto 2rem auto;
      font-size: 3.6rem;
      text-align: left;
    }

    @include atLG {
      font-size: 4rem;
    }
  }
}

.section-title {
  margin-bottom: 2.4rem;
  font-size: 3.8rem;
  font-weight: 300;
  text-align: center;

  &--blue {
    color: $color-primary;
  }

  @include atSM {
    margin-bottom: 3.6rem;
    font-size: 4.4rem;
  }
  @include atMD {
    margin-bottom: 4.8rem;
    font-size: 5rem;
  }
  @include atLG {
    margin-bottom: 6rem;
    font-size: 5.6rem;
  }

  &__icon {
    margin-top: -10px;
    margin-right: 5px;

    @include atMD {
      margin-top: -20px;
    }
  }
}

.generic-text {
  text-align: justify;

  p {
    line-height: 1.65;
  }

  p:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include atMD {
    font-size: 1.8rem;
  }
}
