.container {
  max-width: 123.6rem;
  margin: 0 auto;
  padding: 0 1.8rem;

  &--narrow {
    max-width: 90rem;
  }

  &--no-padding-x {
    padding: 0;

    @include atMD {
      padding: 0 1.8rem;
    }
  }

  .container {
    padding: 0;
  }

  &--nav {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
