.page-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include atSM {
    padding-top: 4.5rem;
    padding-bottom: 6rem;
  }

  @include atMD {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include atLG {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  &--bg-blue {
    background-color: $color-primary;
  }

  &--testimonials-bg {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
      url('../images/testimonials-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
