.features {
  color: white;

  &__item {
    position: relative;

    @include atMD {
      padding-left: 9.5rem;
    }
  }

  &__title {
    margin-bottom: 1.8rem;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;

    @include atXS {
      font-size: 2.4rem;
    }

    @include atMD {
      font-size: 2.6rem;
      text-align: left;
    }

    @include atXL {
      font-size: 2.8rem;
    }
  }

  &__icon {
    display: block;
    margin: 0 auto 2rem auto;

    @include atMD {
      position: absolute;
      top: -10px;
      left: 0;
      margin: 0;
    }
  }

  p {
    line-height: 1.65;
    text-align: justify;

    @include atMD {
      font-size: 1.8rem;
    }
  }
}
