.features {
  color: white;

  &__item {
    position: relative;
    padding-left: 9.5rem;
  }

  &__title {
    margin-bottom: 1.8rem;
    font-size: 2.8rem;
    font-weight: 300;
  }

  &__icon {
    position: absolute;
    top: -10px;
    left: 0;
  }

  p {
    line-height: 1.65;

    @include atMD {
      font-size: 1.8rem;
    }
  }
}
