.hero {
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  border-bottom: 12px solid $color-primary;

  img {
    filter: brightness(0.85);
  }

  &__text-content {
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;

    @include atMD {
      top: 50%;
    }
  }

  h1 {
    margin: 0 auto 1rem 0;
    font-weight: 200;
    text-transform: capitalize;

    @include atMD {
      margin-bottom: 1rem;
    }
  }

  &__title {
    display: block;
    font-size: 3.8rem;
    // animation: moveInLeft 1s ease;

    @include atXS {
      font-size: 4.4rem;
    }
    @include atSM {
      font-size: 5rem;
    }
    @include atMD {
      margin-bottom: -1rem;
      font-size: 5.6rem;
    }
    @include atLG {
      font-size: 6.2rem;
    }
    @include atXL {
      font-size: 6.8rem;
    }
  }

  &__subtitle {
    display: block;
    font-size: 3rem;
    // animation: moveInRight 1s ease;

    @include atXS {
      font-size: 3.5rem;
    }
    @include atSM {
      font-size: 4rem;
    }
    @include atMD {
      font-size: 4.5rem;
    }
    @include atLG {
      font-size: 5rem;
    }
    @include atXL {
      font-size: 5.5rem;
    }
  }

  &__description {
    max-width: 38rem;
    margin: 0 auto 1rem auto;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.25;
    // animation: moveInTop 1s ease;

    @include atXS {
      font-size: 2rem;
    }

    @include atMD {
      max-width: 45rem;
      margin-bottom: 1.5rem;
      font-size: 2.2rem;
    }

    @include atXL {
      margin-bottom: 2rem;
      font-size: 2.4rem;
    }
  }
}
