.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
  height: inherit;

  @include atMD {
    display: flex;
    justify-content: space-between;
    max-width: 123.6rem;
    margin: 0 auto;
  }

  &__logo {
    background-image: linear-gradient(to top, #dba55d 0%, #c8852c 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;

    @include atMD {
      font-size: 3.2rem;
      font-weight: 600;
    }
  }

  &__menu-icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
    color: #fff;
    font-size: 2.8rem;

    .fa-bars {
      display: block;
    }

    .fa-times {
      display: none;
    }

    @include atMD {
      display: none;
    }

    &--is-active {
      .fa-bars {
        display: none;
      }

      .fa-times {
        display: block;
      }
    }
  }

  &__list {
    list-style-type: none;
    position: absolute;
    top: -40rem;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40vh;
    padding: 6rem 0 2rem 0;
    background-color: $color-primary;
    transition: all 0.5s ease-in-out;

    &--is-active {
      top: 0;
    }

    @include atMD {
      position: static;
      top: auto;
      left: auto;
      display: flex;
      flex-direction: row;
      height: auto;
      width: auto;
      padding: 0;
      background-color: transparent;
    }
  }

  &__list-item {
    @include atMD {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    a {
      color: #fff;
      font-weight: 300;

      &.is-current-link {
        color: #eeae5a;
      }
    }
  }
}
