.site-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  @include atMD {
    position: fixed;
    top: auto;
    left: auto;
    height: 6.8rem;
    background-color: rgba($color-primary, 0.4);
    transition: background-color 0.2s ease;

    &--darker {
      background-color: #173348;
    }
  }
}
