.btn {
  display: inline-block;
  color: white;
  text-decoration: none;

  &--main {
    padding: 8px 16px;
    // animation: moveInBottom 1s ease 0.75s backwards;

    @include atXS {
      padding: 8px 16px;
    }

    @include atMD {
      padding: 9px 18px;
      font-size: 1.8rem;
    }

    @include atXL {
      padding: 1rem 2rem;
    }
  }

  &--blue {
    background-color: $color-primary;
  }

  &--orange {
    background-color: $color-secondary;
    transition: all 0.4s ease;

    &:hover {
      box-shadow: $box-shadow;
      background-color: #cf892e;
    }
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--round {
    border-radius: 25px;
  }

  &--nav {
    font-size: 1.4rem;
    padding: 7px 14px;
    border-radius: 2px;
  }
}
